NEXT_PUBLIC_SUPABASE_URL=https://zrrksbqmqvpgksvrzejg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DFABy7UEAWZAJWLKwTHMCw_m45q7hT2
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpycmtzYnFtcXZwZ2tzdnJ6ZWpnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUxNDY2MCwiZXhwIjoyMDkyMDkwNjYwfQ.-Zxf3AHsehIaV9L-toXHKbVZ5tlNTIgurH7z5FgApxQ
