NEXT_PUBLIC_SUPABASE_URL=https://zrrksbqmqvpgksvrzejg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DFABy7UEAWZAJWLKwTHMCw_m45q7hT2
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpycmtzYnFtcXZwZ2tzdnJ6ZWpnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUxNDY2MCwiZXhwIjoyMDkyMDkwNjYwfQ.-Zxf3AHsehIaV9L-toXHKbVZ5tlNTIgurH7z5FgApxQ

UPSTASH_REDIS_REST_URL="https://lucky-lioness-90461.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAWFdAAIncDEzZGE3NjVhN2Q0MjU0ZTUzOTkxNzY5MTY1N2IwODNhNnAxOTA0NjE"
NEXT_PUBLIC_POSTHOG_KEY=phc_rwovuwTCmbiWooV3TKPQAKmQyFkbKQ68z79GFEPzYVSc
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com